<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather hbs </title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>

    <div>
        {{>header}}
    </div>
    <section id="weather">
        <h2> {{title}} weather hbs page </h2>
        {{!-- <p> {{erorrs1}} </p>
        <p> {{erorrs2}} </p>
        <p> {{$data1}} </p>
        <p> {{data}} </p>
        <span>{{country}}</span> --}}
         <a href="/"> <button> back home </button> </a>

    </section>
    <div>
        <button>
            {{>footer}}
        </button>
    </div>
    
</body>
</html>

